root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# IDE0210: Convert to top-level statements
csharp_style_prefer_top_level_statements = true

[*.md]
trim_trailing_whitespace = false
