# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Coverage directory used by tools like istanbul
coverage
.eslintcache

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# OSX
.DS_Store

release/build
release/app/dist


.erb/dll

.idea
npm-debug.log.*
*.css.d.ts
*.sass.d.ts
*.scss.d.ts

*.mp3
*.flac

dotnet_discord_rpc/Assets/Plugins/X86_64
dotnet_discord_rpc/bin/Debug/net8.0/*

dotnet_discord_rpc/obj

!dotnet_discord_rpc/bin/Debug/net8.0/discord_game_sdk.dll
!dotnet_discord_rpc/bin/Debug/net8.0/discord_game_sdk.dll.lib
!dotnet_discord_rpc/bin/Debug/net8.0/discord_game_sdk.bundle

_sample_development_folder


