.card_songinfocard{
    background: linear-gradient(to right bottom,rgb(3, 3, 3),rgb(49, 49, 49));

    text-align: center;
    
  /* required for button panel to be relative to parent but absolute to itself */
  position: relative;

  /* scale font based on UI */
  font-size: 5px;
  font-size: 0.85vw;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.text_fade_in_songinfocard{
    animation: fadeIn 0.50s; 
}

.button_panel_songinfocard{
    position:absolute;
    top:13vh;
    min-width:5vw;
    height: 0;
    z-index: 10000;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.static_button_songinfocard{
    position:absolute;
    height: 0;
    z-index: 10000;

    top:7vh;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

