.card_songlyriccard{
    background: linear-gradient(to right bottom,rgb(3, 3, 3),rgb(49, 49, 49));

    min-height: 25vh;

    text-align: center;
}

.top_bar_row_songlyriccard{
    display: flex;

    flex-direction: row;

    justify-content: center;
}

.option_button_songlyriccard{
    max-height: 2vh;

}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.fade_in_text { 
    animation: fadeIn 0.25s; 
    text-align: center;
}

.fade_out_text {
    color: rgb(247, 0, 0);
    opacity: 0;
    transition: all 0.25s ease;
    text-align: center;
}