.songtable {
    position: relative;
    /*float: right;*/

}

.table_container_songtable{
    animation: fadeIn 0.5s;

}

.row_songtable{
    background: linear-gradient(to right bottom,rgb(3, 3, 3),rgb(49, 49, 49));
}

.body_songtable{
    scrollbar-color: rgb(255, 255, 255) #000000;
    scroll-behavior: smooth;
}

.top_bar_songtable{
    height: 5.2vh;
    width: 80vw;

    background: linear-gradient(to right bottom,rgb(41, 41, 41),rgb(49, 49, 49));
    
}

.top_bar_content_songtable{
    margin-top: 5px;
    display: flex;
    flex-direction: row;

    height: 4.2vh;

    justify-content: center;
    align-items: center;

    animation: fadeIn 0.5s;

    

}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.centered_songtable{
    display: flex;
    flex-direction: column;

    height: 77.8vh;

    justify-content: center;
    align-items: center;

    /*
    position: absolute;
    left: calc(50% + 5vw);
    top: calc(50%);
    */
}
