.visualizer_card_content{
    background: linear-gradient(to right bottom,rgb(3, 3, 3),rgb(49, 49, 49));


    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}