@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.page_content_help{
    user-select: none;
    
    display: flex;
    justify-content: center;
    justify-items: center;

    animation: fadeIn 0.50s; 
}

.card_help{
    background: linear-gradient(to right bottom,rgb(3, 3, 3),rgb(49, 49, 49));


    height: 100vh;
    width: 100vw;

    text-align: center;
}

.secondary_card_help{
    background: linear-gradient(to right bottom,rgb(34, 34, 34),rgb(49, 49, 49));

    width: 80vw;

    text-align: center;

    margin-top: 25px;
    margin-bottom: 25px;
}

.column_help{
    display: flex;
    flex-direction: column;

    /* does not work vertically, use align items
    justify-content: center;
    justify-items: center;
    */
    align-items: center;

    gap: 5px;

    
}
