.content_audioutil_ffmpeg{
    width:100vw;  


}

.content_audioutil_layout{
    display: grid;
    grid-template-columns: 40vw 60vw;
}

.console_buttons_layout_audioutil{
    display: grid;
    grid-template-columns: 80% 20%;
}