.content_bottommusiccontrol{
    position:fixed;
    left:20vw;
    bottom:100px;
    height:1px;
    width:80vw;  
    z-index: 10000;
}

.horizontal_grid_bottommusiccontrol{
    display: grid;
    grid-template-columns: 10vw 40vw 30vw;
    grid-template-rows: auto;
}

.centered_control_bottommusiccontrol{
    display: flex;
    justify-content: center;
    margin-top: 0.5vh;
    flex-direction: row;
}

.volume_control_bottommusiccontrol{
    display: flex;
    justify-content: center;
    margin-top: 0.5vh;
    flex-direction: row;
}

.seek_component_bottommusiccontrol{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

