.console_log_card{
    background: linear-gradient(to right bottom,rgb(3, 3, 3),rgb(49, 49, 49));
}

.console_log_card_header{
    display: flex;
    justify-content: space-between;

    text-align: center;
    align-items: center;

}

.console_log_card_content{
    overflow:hidden;
    height: 80%;
    
}

.console_log_card_content_row{
    display: grid;
    grid-auto-columns: 9% 90%;
}
