/* look into this for animations later https://stackoverflow.com/questions/12991164/maintaining-the-final-state-at-end-of-a-css-animation*/

.content_bottommusiccontrol{
    position:fixed;
    left:20vw;
    bottom:0;
    width:80vw;  
    z-index: 10000;

    display: grid;
    grid-template-columns: 15vw 0.1vw 50vw 0.1vw 15vw;
    grid-template-rows: auto;

    height: 10.3vh;

    animation: maxOn 2s ;
}
@keyframes maxOn {
    100% { position:fixed; left:20vw; grid-template-columns: 15vw 0.1vw 50vw 0.1vw 15vw; }
    0% {position:fixed; left:0vw; grid-template-columns: 0.01vw 0.1vw 80vw 0.1vw 20vw; }
}

.content_bottommusiccontrol_first_load{
    position:fixed;
    left:20vw;
    bottom:0;
    width:80vw;  
    z-index: 10000;

    display: grid;
    grid-template-columns: 15vw 0.1vw 50vw 0.1vw 15vw;
    grid-template-rows: auto;

    height: 10.3vh;
}


.content_bottommusiccontrol_fullscreen{
    position:fixed;
    left:0vw;
    bottom:0;

    z-index: 10000;

    display: grid;

    grid-template-columns: 0.01vw 0.1vw 80vw 0.1vw 20vw;
    
    grid-template-rows: auto;

    height: 10.3vh;

    animation: maxOff 2s ;
}



@keyframes maxOff {
    0% { position:fixed; left:20vw; grid-template-columns: 15vw 0.1vw 50vw 0.1vw 15vw; }
    100% {position:fixed; left:0vw; grid-template-columns: 0.01vw 0.1vw 80vw 0.1vw 20vw; }
}




.volume_control_bottommusiccontrol{
    display: flex;
    justify-content: center;
    margin-top: 0.5vh;
    flex-direction: row;
}

.seek_component_bottommusiccontrol{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.left_card_bottommusiccontrol{
    background: linear-gradient(rgb(34, 34, 34),rgb(44, 44, 44), rgb(34, 34, 34));

    height: 10.3vh;
    width: 100%;

    text-align: center;

    display: grid;


    /* thumbnail on left side, song deets on the other */ 
    grid-template-columns: 5vw 10.2vw ;
    grid-template-rows: auto;

    align-items: center;
    align-content: center;
    
    
    /* scale font based on UI */
    font-size: 5px;
    font-size: 1vw;

    white-space:nowrap;
    overflow:hidden;
    
    
}

.left_card_text_container_bottommusiccontrol{
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    width: 10.2vw;
}

.center_card_bottommusiccontrol{
    background: linear-gradient(rgba(34, 34, 34, 0.26),rgb(44, 44, 44), rgb(34, 34, 34, 0.26));

    height: 10.3vh;
    width: 100%;    
}


.right_card_bottommusiccontrol{
    background: linear-gradient(rgb(34, 34, 34),rgb(44, 44, 44), rgb(34, 34, 34));

    height: 10.3vh;
    width: 100%;

}

.centered_control_bottommusiccontrol{
    display: flex;
    justify-content: center;
    flex-direction: row;
    
}

.center_controls_right_left_container{
    display: flex;
    flex-direction: row;

    align-items: center;  /*aligns elements in row vertically center */
    justify-content: space-between;

    column-gap: 1vw;  

    
}

.right_control_center_bottommusiccontrol{
    display: flex;
    flex-direction: row;
}

.left_control_center_bottommusiccontrol{
    display: flex;
    flex-direction: row;
}

.play_control_center_bottommusiccontrol{
    display: flex;
    flex-direction: row;
    grid-template-rows: 1;
}


.absolute_center_bottommusiccontrol{
    display: absolute;
}

.button_element{
    max-height:3vh;

    overflow:hidden;
    text-overflow:ellipsis;
}
